# IDE / Editor folders
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Secrets & Service Account Keys
circlefit-*.json
google-services.json
firebase-admin.json


# Gradle & Java Build
.gradle/
**/build/
*.class

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
