# IDE / Editor folders
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Secrets & Service Account Keys
circlefit-926d3-firebase-adminsdk-fbsvc-743f8f4e8a.json
google-services.json
*.json


# Gradle & Java Build
.gradle/
**/build/
*.class

# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.venv/
venv/
